@import 'vars';
@import 'header';
@import 'global';
@import 'form';
@import 'radio';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

body {
  font-family: 'Author', sans-serif;
}

button {
  border: 0;
  cursor: pointer;
}
